.skillsmain{
    background-image: url("../Assets/Skills.svg");
    background-size:contain;
    background-position: right; 
    height:120vh;
    margin: 0rem; 
    background-repeat:no-repeat;
    background-color: #eae7dc;
}
.skillsheading{
    color: black;
    font-size: 3rem;
    position: relative;
    top: 45%;
    text-align: right;
    right: 5%;
    };
