.skillsmain{
    background-image: url("../Assets/Skills.svg");
    background-size:contain;
    background-position: right; 
    height:120vh;
    margin: 0rem; 
    background-repeat:no-repeat;
    background-color: #eae7dc;
}
.skillsheading{
    color: black;
    font-size: 3rem;
    position: relative;
    top: 47%;
    left: 78%;
}
.skill{
    width: 20%;
}
