.aboutmain{
    background-image: url("../Assets/About.svg");
    background-size:cover 100vb;
    background-position: center right; 
    height:120vh;
    margin: 0rem; 
    background-repeat:no-repeat;
    background-color: #eae7dc;
}
.abouttext{
    color: black;
    };
