
.contactmain{
    background-image: url("../Assets/Contact.svg");
    background-size:contain;
    background-position: bottom; 
    height: 80vh;
    margin: 0rem; 
    background-repeat:no-repeat;
    background-color: #eae7dc;
    display: flex;
    gap: 3rem;
    justify-content: center;
}
.contact{
    margin-top: 20%;
    height: 15%;
    width: auto;

}
.mail{
    content: url(../Assets/envelope-solid.svg);
}
.linkedin{
    content: url(../Assets/linkedin.svg);
}
.github{
    content: url(../Assets/github.svg);
}
.contactimg:hover{
    border: 0.2rem;
    border-style:dashed;
    border-radius: 1rem;
};

