.main{
    margin: 0%;
    font-family: 'Press Start 2P';
}
.about{
    margin:0%;
}
section{
    margin: 0%;
    padding: 0%;
}









@media only screen and (max-width: 1000px) {
    .aboutmain{
        background-image: url("./Components/Assets/About.svg");
        background-size:contain;
        background-position: left; 
        height:50vh;
        margin: 0rem; 
        background-repeat:no-repeat;
        background-color: #eae7dc;
    }
    .aboutheading{
        color: black;
        font-size: 1rem;
        position: relative;
        top: 45%;
        left: 5%;
        };
}
@media only screen and (max-width: 1000px) {
.skillsmain{
    height:50vh;
    }
.skillsheading{
    font-size: 1rem;
}
}
@media only screen and (max-width: 1000px) {
    .projectsmain{
        height: 50vh;
    }
    .projectsheading{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1000px) {
    .contactmain{
        height: 50vh;
    }
}